/****************************
		Web Fonts
****************************/

@mixin font-face($font-weight){
    font-family: 'museo_sans' + $font-weight;
    src: url('../../webFonts/museosans-'+ $font-weight +'-webfont.eot');
    src: url('../../webFonts/museosans-'+ $font-weight +'-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webFonts/museosans-'+ $font-weight +'-webfont.woff') format('woff'),
         url('../../webFonts/museosans-'+ $font-weight +'-webfont.ttf') format('truetype'),
         url('../../webFonts/museosans-'+ $font-weight +'webfont.svg#museo_sans'+ $font-weight) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    @include font-face(100);
}

@font-face {
    @include font-face(300);
}

@font-face {
    @include font-face(500);
}

@font-face {
    @include font-face(900);
}