/* CSS Document */
/****************************
		SASS Code
****************************/
/****************************
		Web Fonts
****************************/
@font-face {
  font-family: "museo_sans100";
  src: url("../../webFonts/museosans-100-webfont.eot");
  src: url("../../webFonts/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("../../webFonts/museosans-100-webfont.woff") format("woff"), url("../../webFonts/museosans-100-webfont.ttf") format("truetype"), url("../../webFonts/museosans-100webfont.svg#museo_sans100") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "museo_sans300";
  src: url("../../webFonts/museosans-300-webfont.eot");
  src: url("../../webFonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../../webFonts/museosans-300-webfont.woff") format("woff"), url("../../webFonts/museosans-300-webfont.ttf") format("truetype"), url("../../webFonts/museosans-300webfont.svg#museo_sans300") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "museo_sans500";
  src: url("../../webFonts/museosans-500-webfont.eot");
  src: url("../../webFonts/museosans-500-webfont.eot?#iefix") format("embedded-opentype"), url("../../webFonts/museosans-500-webfont.woff") format("woff"), url("../../webFonts/museosans-500-webfont.ttf") format("truetype"), url("../../webFonts/museosans-500webfont.svg#museo_sans500") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "museo_sans900";
  src: url("../../webFonts/museosans-900-webfont.eot");
  src: url("../../webFonts/museosans-900-webfont.eot?#iefix") format("embedded-opentype"), url("../../webFonts/museosans-900-webfont.woff") format("woff"), url("../../webFonts/museosans-900-webfont.ttf") format("truetype"), url("../../webFonts/museosans-900webfont.svg#museo_sans900") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

/****************************
		Main Styles
****************************/
body {
  background-color: #f1f0f0;
  height: 5000px; }

#main_wrapper {
  max-width: 760px;
  display: block;
  margin: 0 auto 40px;
  color: #333333;
  height: 658px; }

.bolded {
  font-family: "museo_sans500"; }

/****************************
		Panel One Styles
****************************/
#panel_one {
  margin-top: 0px; }
  #panel_one img {
    padding: 350px 0 40px 0;
    margin: 0 auto 0;
    display: block;
    opacity: 0; }

#panel_one_backing {
  background-image: url(http://staging.banfieldagency.com/simonTests/SoundExchange_Parallax_images/SoundExchange_Panel1_MusicFunnel.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 408px;
  width: 760px;
  margin-top: 30px;
  position: absolute;
  z-index: 0;
  opacity: 0;
  margin-right: -50px;
  display: none; }

#main_title {
  max-width: 600px;
  margin: 0 auto 0;
  text-align: center; }
  #main_title h1 {
    font-family: "museo_sans100";
    font-size: 30px;
    margin-top: -50px;
    opacity: 0; }
  #main_title p {
    font-family: "museo_sans900";
    font-size: 18px;
    color: #63af61;
    margin-top: -20px;
    opacity: 0; }

#body_text {
  text-align: center;
  padding-left: 6.57895%;
  padding-right: 6.57895%; }
  #body_text h1 {
    font-family: "museo_sans500";
    font-size: 30px;
    margin-top: 150px;
    line-height: 36px;
    opacity: 0; }
  #body_text p {
    margin-top: 150px;
    font-family: "museo_sans300";
    font-size: 16px;
    line-height: 20px;
    opacity: 0; }

@media (max-width: 550px) {
  #main_wrapper {
    height: 780px; } }
@media (min-width: 720px) {
  #main_wrapper {
    height: 840px; }

  #panel_one_backing {
    display: block; }

  #main_wrapper {
    margin: 0 auto 75px; }

  #panel_one {
    margin-top: 20px; }

  #main_title h1 {
    font-size: 65px; }

  #body_text h1 {
    font-size: 36px;
    line-height: 40px; }
  #body_text p {
    font-size: 20px;
    line-height: 32px; } }
/****************************
		Panel Two Styles
****************************/
#panel_two {
  background-image: url(http://staging.banfieldagency.com/simonTests/SoundExchange_Parallax_images/carbon_fibre_big.png);
  opacity: 0;
  margin-top: 150px;
  color: #fff;
  height: 290px;
  font-family: "museo_sans100"; }
  #panel_two h1 {
    color: #68c25c;
    text-align: center;
    font-size: 28px;
    padding: 35px 0 10px;
    opacity: 0;
    margin-top: 40px; }
  #panel_two h2 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding: 40px 0 50px 0;
    opacity: 0;
    margin-top: 10px; }

#counter_holder {
  max-width: 710px;
  margin: 0 auto 0px;
  opacity: 0;
  padding-left: 20px; }

.number_plate {
  width: 7.88732%;
  height: 35px;
  background-image: none;
  float: left;
  margin-left: 0.70423%;
  margin-right: 0.70423%;
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.num {
  display: block;
  opacity: 0;
  margin-top: 3px; }

.count_elements {
  float: left;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 20px; }
  .count_elements:first-child {
    display: block;
    width: 15px;
    padding-top: 40px;
    padding-right: 5px;
    font-size: 30px;
    opacity: 0; }
  .count_elements:nth-child(n+2) {
    padding-top: 25px; }

@media (min-width: 720px) {
  #counter_holder {
    padding-left: 0px; }

  .num {
    margin-top: 0px; }

  #panel_two {
    height: 450px; }
    #panel_two h1 {
      font-size: 36px;
      padding: 60px 0 50px;
      margin-top: 40px; }
    #panel_two h2 {
      font-size: 28px;
      line-height: 36px;
      padding: 40px 0 50px 0;
      margin-top: 50px; }

  .number_plate {
    height: 83px;
    background-image: url(http://staging.banfieldagency.com/simonTests/SoundExchange_Parallax_images/SoundExchange_Panel2_NumberPlate.png);
    background-repeat: no-repeat;
    font-size: 36px; }

  .count_elements:first-child {
    width: 15px;
    padding-right: 10px;
    font-size: 40px; }
  .count_elements:nth-child(n+2) {
    padding-top: 30px; } }
/****************************
	  Panel Three Styles
****************************/
#panel_three {
  background-color: #ffffff;
  padding-top: 10px; }
  #panel_three h1, #panel_three h2, #panel_three p {
    font-family: "museo_sans300";
    font-size: 24px;
    margin: 36px auto 0;
    text-align: center; }
  #panel_three h2 {
    font-size: 40px;
    color: #4C4C4D; }
  #panel_three p {
    margin-top: 10px;
    color: #F79239;
    font-family: "museo_sans100"; }
  #panel_three img {
    margin: 25px auto 0;
    display: block; }

#panel_three_bold {
  font-family: "museo_sans500"; }
